* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #003B4F;
    color: white;
}

input {
    color: black;
}

#shop-layout-ui {
    border: 3px #08262C solid;
    background-color: #E8B00F;
}

.shop-element{
    position: absolute;
    background-color: blue;
}

.heading{
    text-align: center;
    margin: 5px;
    height: 40px;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: none;
}

.btn {
    background-color: #08262C;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    margin: 0 5px;
}

.btn:active {
    background-color: white;
    color: #08262C
}

#toolbar {
    display:flex;
    align-items: center;
    margin: 10px;
}